@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(icomoon/style.css);
@import url("https://coral-tsai.github.io/portfolio/icomoon/style.css");
@import url("https://coraltsai.com/icomoon/style.css");
@import url(/css/sub-css/index/project-group.css);
@import url(/css/sub-css/index/gradient-background.css);
@import url(/css/sub-css/index/back-to-top.css);
@import url(/css/sub-css/index/header.css);
@import url(/css/sub-css/project-page/project-page.css);
@import url(/css/sub-css/project-page/page-1999.css);
@import "https://unpkg.com/open-props";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", "Noto Sans TC", sans-serif;
  padding: 40px 0;
}
body.pre {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.pre .container.header {
  display: block;
}
body.pre .container.header .myLogo {
  height: 100px;
  width: 100px;
  margin: 0 auto 20px;
  background-image: url(../img/protrait.webp);
  background-size: cover;
}
body.pre .container.greet {
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  color: black;
  background-color: white;
  display: grid;
  grid-template-areas: "main";
  min-height: 100vh;
}

.page__main {
  grid-area: main;
}

.main {
  display: grid;
  place-content: center;
}

.main__title {
  font-size: clamp(1.5rem, 8vw, 5rem);
}

.main__word {
  border-bottom: 1px solid;
}

.wait-greet {
  text-align: center;
}
.wait-greet .wait-list {
  padding: 10px;
}
.wait-greet .wait-list .btn {
  background: #000;
  padding: 10px 20px;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.wait-greet .wait-list .btn:hover {
  color: #fff;
  background: #222;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.wait-greet .wait-list .btn:visited {
  color: #fff;
}

.contact-fab {
  position: fixed;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  gap: 8px;
  flex-direction: column;
  z-index: 1;
}
.contact-fab.pre {
  position: fixed;
  right: 50%;
  top: initial;
  bottom: 0;
  transform: translate(50%, -50%);
  display: flex;
  gap: 8px;
  flex-direction: row;
  z-index: 1;
}
.contact-fab a {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  text-decoration: none;
  font-family: "icomoon";
  color: #fff;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
}
.contact-fab a::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contact-fab a.linkedIn {
  position: relative;
  background-color: #0077b5;
}
.contact-fab a.linkedIn::before {
  content: "\e900";
}
.contact-fab a.blog {
  position: relative;
  background-color: #0d6763;
}
.contact-fab a.blog::before {
  content: "\e916";
}
.contact-fab a.instagram {
  position: relative;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.contact-fab a.instagram::before {
  content: "\e945";
}/*# sourceMappingURL=style.css.map */