@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(icomoon/style.css);
@import url("https://coral-tsai.github.io/portfolio/icomoon/style.css");
@import url("https://coraltsai.com/icomoon/style.css");

@import url(/css/sub-css/base.css);
@import url(/css/sub-css/language.css);

@import url(/css/sub-css/index/project-group.css);
@import url(/css/sub-css/index/gradient-background.css);
@import url(/css/sub-css/index/back-to-top.css);
@import url(/css/sub-css/index/header.css);

@import url(/css/sub-css/project-page/project-page.css);
@import url(/css/sub-css/project-page/page-1999.css);
@import url(/css/sub-css/project-page/page-classic-movie.css);
@import url(/css/sub-css/project-page/page-scrum-game.css);
@import url(/css/sub-css/project-page/page-fast-sign.css);
@import url(/css/sub-css/project-page/thanks.css);
@import url(/css/sub-css/project-page/challenge.css);

@import url(/css/sub-css/project-page/page-on-going.css);

html {
  scroll-behavior: smooth;
  transition: 1s;
  font-size: 20px;
}
body {
  font-family: "Nunito Sans", "Noto Sans TC", sans-serif;
  // padding: 40px 0;

  &.pre {
    .message {
      padding: 20px 24px;
    }
    // height: 100vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // .container {
    //   &.header {
    //     display: block;
    //     .myLogo {
    //       height: 100px;
    //       width: 100px;
    //       margin: 0 auto 20px;
    //       background-image: url(../img/protrait.webp);
    //       background-size: cover;
    //     }
    //   }
    //   &.greet {
    //     text-align: center;
    //   }
    // }
  }
}

// ==================================================
//typing ============================================
@import "https://unpkg.com/open-props";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  color: black;
  background-color: white;
  display: grid;
  grid-template-areas: "main";
  min-height: 100vh;
  // font-family: "IBM Plex Mono", monospace;
}
.page__main {
  grid-area: main;
}

.main {
  display: grid;
  place-content: center;
}
.main__title {
  font-size: clamp(1.5rem, 8vw, 5rem);
}
.main__word {
  // color: green;
  border-bottom: 1px solid;
}

// ==================================================
// wait greet==================================================

.wait-greet {
  // text-align: center;
  font-size: 0.8rem;

  .wait-list {
    padding: 10px 0;
    .btn {
      background: #000;
      padding: 10px 20px;
      border-radius: 100px;
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
      font-size: 0.8rem;
      &:hover {
        color: #fff;
        background: #222;
        box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
      }
      &:visited {
        color: #fff;
      }
    }
  }
}
// ==================================================
// LOCK project page =====================================

// ==================================================
// contact ==========================================
.contact-fab {
  &.pre {
    position: fixed;
    right: 50%;
    top: initial;
    bottom: 0;
    transform: translate(50%, -50%);
    display: flex;
    gap: 8px;
    flex-direction: row;
    z-index: 1;
  }
  position: fixed;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  gap: 8px;
  flex-direction: column;
  z-index: 1;
  a {
    width: 40px;
    height: 40px;
    border-radius: 99px;
    // background-color: #fff;
    text-decoration: none;
    font-family: "icomoon";
    color: #fff;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.linkedIn {
      position: relative;
      background-color: #0077b5;
      &::before {
        content: "\e900";
      }
    }
    &.blog {
      position: relative;
      background-color: #0d6763;
      &::before {
        content: "\e916";
      }
    }
    &.instagram {
      position: relative;
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      &::before {
        content: "\e945";
      }
    }
  }
}
// ==================================================
@media screen and (min-width: 1024px) {
  .paragraph {
    margin-left: 200px;
    margin-right: 200px;
  }
  .overview,
  .goal {
    .paragraph {
      margin-left: 120px;
      margin-right: 120px;
    }
  }
}
