.card {
  transition: 0.5s;
  border-radius: 16px;
  overflow: hidden;
  &:hover {
    transform: translate(0px, -8px);
    transition: 0.5s;
    box-shadow: 0 0.5em 1em -0.125em #00d1b245, 0 0 0 1px rgba(10, 10, 10, 0.02);
  }
  .card-image:last-child img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
