.challenge {
  font-size: 0.8rem;
  border: 1px solid #dc3645;
  border-radius: 0.8rem;
  background-color: #dc364510;
  color: #dc3645;
  margin: 1rem 0;
  overflow: hidden;
  .description {
    font-weight: 600;
    padding: 0.6rem 1rem;
  }
  .note {
    padding: 0 1rem 0.6rem;
  }
  .title {
    width: 100%;
    font-weight: 600;
    background-color: #dc364510;
    padding: 0.6rem 1rem;
  }
}

.learning {
  font-size: 0.8rem;
  border: 1px solid #29a845;
  border-radius: 0.8rem;
  background-color: #29a84510;
  color: #29a845;
  margin: 1rem 0;
  overflow: hidden;
  .description {
    font-weight: 600;
    padding: 0.6rem 1rem;
  }
  .note {
    padding: 0 1rem 0.6rem;
  }
  .title {
    width: 100%;
    font-weight: 600;
    background-color: #29a84510;
    padding: 0.6rem 1rem;
  }
}

.achievement {
  font-size: 0.8rem;
  border: 1px solid #17a2b8;
  border-radius: 0.8rem;
  background-color: #17a2b810;
  color: #17a2b8;
  margin: 1rem 0;
  overflow: hidden;
  .description {
    font-weight: 600;
    padding: 0.6rem 1rem;
  }
  .note {
    padding: 0 1rem 0.6rem;
  }
  .title {
    width: 100%;
    font-weight: 600;
    background-color: #17a2b818;
    padding: 0.6rem 1rem;
  }
}
