body.page-fast-sign {
  background: #0b7d77;
}
body.page-fast-sign .page-work-cover {
  background: #0b7d77;
}
body.page-fast-sign .work-container .section .sub-title {
  color: #0b7d77;
}
body.page-fast-sign .work-container .section .sub-title .tag {
  background-color: #cee5e4;
}
body.page-fast-sign .work-container .section.overview {
  background: #cee5e4;
}
body.page-fast-sign .work-container .section.goal {
  background-color: #323338;
}
body.page-fast-sign .work-container .section.goal .paragraph span.hightlight {
  color: #cee5e4;
}
body.page-fast-sign .work-container .section.goal .paragraph li {
  color: #cee5e4;
}
body.page-fast-sign .work-container .section.process {
  background-color: #fafafa;
}
body.page-fast-sign .work-container .section.process .process-note {
  color: #0b7d77;
}
body.page-fast-sign .work-container .section.approach {
  background-color: #fff;
}
body.page-fast-sign .work-container .section.approach .paragraph.scenario-persona .persona {
  background-color: rgba(0, 0, 0, 0.031372549);
}
body.page-fast-sign .work-container .section.approach .paragraph.scenario-persona .persona .problem i {
  color: #dc3545;
}
body.page-fast-sign .work-container .section.approach .paragraph.result .appreciation .title,
body.page-fast-sign .work-container .section.approach .paragraph.result .award .title {
  -webkit-text-decoration: #cee5e4 wavy underline;
          text-decoration: #cee5e4 wavy underline;
}
body.page-fast-sign .work-container .section.approach .paragraph.result .appreciation .list .row .col-md,
body.page-fast-sign .work-container .section.approach .paragraph.result .award .list .row .col-md {
  background-color: rgba(0, 0, 0, 0.031372549);
  margin-bottom: 0.5rem;
}
body.page-fast-sign .work-container .section.approach .paragraph.result .appreciation .list .row .col-md a,
body.page-fast-sign .work-container .section.approach .paragraph.result .award .list .row .col-md a {
  color: #0b7d77;
}
body.page-fast-sign .work-container .section.approach .paragraph.result .appreciation .list .row .col-md.award-dev,
body.page-fast-sign .work-container .section.approach .paragraph.result .award .list .row .col-md.award-dev {
  position: relative;
  transition: 0.5s;
  animation: shine 2s ease infinite;
}
body.page-fast-sign .work-container .section.approach .paragraph.result .appreciation .list .row .col-md.award-dev .ph-medal,
body.page-fast-sign .work-container .section.approach .paragraph.result .award .list .row .col-md.award-dev .ph-medal {
  animation-name: medal;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
body.page-fast-sign .work-container .section.approach .paragraph.result .appreciation .list .row .col-md.award-dev .award-note,
body.page-fast-sign .work-container .section.approach .paragraph.result .award .list .row .col-md.award-dev .award-note {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 0.6rem;
  opacity: 0;
  transition: 0.5s;
  padding: 0.4rem 0.6rem;
  background-color: #cee5e4;
  border-radius: 0.6rem;
  width: 100%;
}
body.page-fast-sign .work-container .section.approach .paragraph.result .appreciation .list .row .col-md.award-dev:hover,
body.page-fast-sign .work-container .section.approach .paragraph.result .award .list .row .col-md.award-dev:hover {
  color: #0b7d77;
  transition: 0.5s;
}
body.page-fast-sign .work-container .section.approach .paragraph.result .appreciation .list .row .col-md.award-dev:hover .award-note,
body.page-fast-sign .work-container .section.approach .paragraph.result .award .list .row .col-md.award-dev:hover .award-note {
  opacity: 1;
}
body.page-fast-sign .work-container .section.approach .paragraph.research a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.031372549);
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.5s;
}
body.page-fast-sign .work-container .section.approach .paragraph.research a:hover {
  background-color: rgba(0, 0, 0, 0.1254901961);
  transition: 0.5s;
}
body.page-fast-sign .work-container .section.reflection {
  background-color: #fafafa;
}
body.page-fast-sign .work-container .section.reflection .process-note {
  color: #0b7d77;
}

@keyframes medal {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes shine {
  0% {
    border: #0b7d77 2px solid;
  }
  50% {
    border: #cee5e4 2px solid;
  }
  100% {
    border: #0b7d77 2px solid;
  }
}/*# sourceMappingURL=page-fast-sign.css.map */