@import url(/css/sub-css/base.scss);

$main: #0693e3;
$background: #181e2a;
$background10: #2f343f;
$background20: #464b55;
$accent: #374753;

@mixin section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.dn {
  display: none;
}

body.page-scrum-game {
  color: white;
  background: $main;
  padding: 0;
  .page-work-cover {
    background: $main;
    //   height: 400px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .section-title {
    font-weight: 600;
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .sub-title {
    color: $main;
    font-size: 32px;
  }
  .work-container {
    background: $background;
    padding: 20px 0;
    .project-detail {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include section();
      .project-name {
        font-weight: 600;
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      .project-value {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 40px;
      }
      .project-link {
        padding: 20px 0;
        a {
          background: #000;
          border-radius: 8px;
          text-decoration: none;
          padding: 10px;
          color: #fff;
        }
      }
      .cover {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }

      .rough-detail {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .group-info {
          display: flex;
          // justify-content: space-between;
          gap: 120px;
        }

        .myRole {
          &::before {
            content: "MY ROLE";
            color: #ffffff60;
            display: block;
          }
        }
        .myResponsibilities {
          &::before {
            content: "MAIN RESPONSIBILITIES";
            color: #ffffff60;
            display: block;
          }
        }
        .timeline {
          &::before {
            content: "TIMELINE";
            color: #ffffff60;
            display: block;
          }
        }
        .link {
          &::before {
            content: "LINK";
            color: #ffffff60;
            display: block;
          }
          a {
            color: white;
            text-decoration: none;
            transition: 0.5s;
            padding-right: 16px;
            &::after {
              content: "\e90a";
              opacity: 0;
              padding-left: 0;
              padding-right: 4px;
              font-family: "icomoon";
              transition: 0.5s;
            }
            &:hover {
              transition: 0.5s;
              &::after {
                opacity: 1;
                padding-left: 4px;
                padding-right: 0;
                transition: 0.5s;
              }
            }
          }
        }
      }
      .section {
        background: #ffffff30;
        border-radius: 20px;
        padding: 40px 20px;
      }
    }
    .goal {
      background-color: $accent;
      @include section();
      .container {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 80px;
      }
      li {
        margin-bottom: 20px;
      }
      .main-goal {
        font-size: 20px;
        font-weight: 600;
      }
    }
    .persona {
      .user {
        margin-bottom: 20px;
        .user-story {
          font-weight: 600;
          margin-bottom: 16px;
        }
        li {
          margin-bottom: 16px;
        }
      }
    }
  }
}
