body.page-1999 {
  background: #e95076;
  padding: 0;
}
body.page-1999 .page-work-cover {
  background: #e95076;
}
body.page-1999 .page-work-cover img {
  width: 100%;
  height: auto;
}
body.page-1999 .work-container {
  padding: 20px 0;
}
body.page-1999 .work-container .section {
  padding-top: 120px;
  padding-bottom: 120px;
}
body.page-1999 .work-container .section img {
  width: 100%;
}
body.page-1999 .work-container .section .section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
body.page-1999 .work-container .section .sub-title {
  color: #e95076;
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 10px;
}
body.page-1999 .work-container .section.overview {
  background: rgb(253, 237, 241);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body.page-1999 .work-container .section.overview .project-value {
  font-size: 24px;
}
body.page-1999 .work-container .section.overview .project-link {
  padding: 20px 0;
}
body.page-1999 .work-container .section.overview .project-link a {
  background: #000;
  border-radius: 8px;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}
body.page-1999 .work-container .section.overview .cover {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
body.page-1999 .work-container .section.overview .cover img {
  width: 100%;
  height: auto;
}
body.page-1999 .work-container .section.overview .rough-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body.page-1999 .work-container .section.overview .rough-detail .myRole::before {
  content: "MY ROLE";
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
body.page-1999 .work-container .section.overview .rough-detail .timeline::before {
  content: "TIMELINE";
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
body.page-1999 .work-container .section.goal {
  background-color: #374753;
  color: white;
}
body.page-1999 .work-container .section.goal .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
body.page-1999 .work-container .section.goal .container span.goal-detail {
  display: block;
  margin: 4px 0 20px 0;
}
body.page-1999 .work-container .section.goal .container span.hightlight {
  color: rgb(253, 237, 241);
  text-decoration: underline;
}
body.page-1999 .work-container .section.goal .container li {
  font-weight: 600;
  color: rgb(253, 237, 241);
}
body.page-1999 .work-container .section.goal .container li span {
  font-weight: normal;
  color: white;
}
body.page-1999 .work-container .section.goal .container .user-story {
  font-size: 20px;
  line-height: 2;
}
body.page-1999 .work-container .section.outcome {
  background-color: #fff;
}
body.page-1999 .work-container .section.understanding, body.page-1999 .work-container .section.reflection, body.page-1999 .work-container .section.process {
  background-color: #fafafa;
}
body.page-1999 .work-container .section.understanding .team-member .row, body.page-1999 .work-container .section.reflection .team-member .row, body.page-1999 .work-container .section.process .team-member .row {
  gap: 20px;
}
body.page-1999 .work-container .section.thanks {
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding-bottom: 200px;
  width: 60%;
  margin: 0 auto;
}
body.page-1999 .work-container .section.thanks .contact {
  color: #000;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
body.page-1999 .work-container .section.thanks .contact a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
}
body.page-1999 .work-container .section.thanks .contact a:hover {
  color: rgba(255, 255, 255, 0.4588235294);
  transition: 0.5s;
}
body.page-1999 .work-container .section.thanks .contact .resume {
  font-style: italic;
  text-decoration: underline;
  font-size: 16px;
}

#carouselExampleCaptions .carousel-indicators [data-bs-target] {
  background-color: #e95076;
  opacity: 0.3;
}
#carouselExampleCaptions .carousel-indicators .active {
  opacity: 1;
}
#carouselExampleCaptions .carousel-control-next,
#carouselExampleCaptions .carousel-control-prev {
  width: 5%;
  opacity: 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
#carouselExampleCaptions .carousel-control-prev {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
#carouselExampleCaptions .carousel-inner .carousel-caption {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 2.5rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 100%);
}
#carouselExampleCaptions .carousel-inner .carousel-caption h5,
#carouselExampleCaptions .carousel-inner .carousel-caption p {
  color: #000;
  margin-bottom: 0;
}/*# sourceMappingURL=page-1999.css.map */