$main: #55301d;
$accent01: #813110;
$accent02: #7a4a3e;
$accent03: #dea55e;

@mixin section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body.page-classic-movie {
  background: $main;
  .page-work-cover {
    background: $main;
  }
  .work-container {
    background: $accent03;
    .section {
      .sub-title {
        color: $main;
      }
      &.overview {
        background: accent03;
      }

      &.goal {
        background-color: $accent01;
      }
      &.approach {
        background-color: #f4f2f1;
        .iteration {
          background-color: $main;
          border-radius: 16px;
          color: #dea55e;
          font-weight: 600;
          padding: 20px;
          font-size: 1.2rem;
          .iterate-note {
            font-weight: normal;
            color: #fff;
            font-size: 1rem;
            padding-top: 10px;
          }
        }
      }
      &.process,
      &.reflection {
        background-color: #fff;
      }
    }
  }
}
