$main: #0b7d77;
$main-light: #cee5e4;
$accent: #323338;

body.page-fast-sign {
  background: $main;
  .page-work-cover {
    background: $main;
  }
  .work-container {
    .section {
      .sub-title {
        color: $main;
        .tag {
          background-color: $main-light;
        }
      }
      &.overview {
        background: $main-light;
      }
      &.goal {
        background-color: $accent;
        .paragraph {
          span.hightlight {
            color: $main-light;
          }
          li {
            color: $main-light;
          }
        }
      }
      &.process {
        background-color: #fafafa;
        .process-note {
          color: $main;
        }
      }
      &.approach {
        background-color: #fff;
      }
      &.reflection {
        background-color: #fafafa;
        .process-note {
          color: $main;
        }
      }
    }
  }
}
