$main: #0693e3;
$background: #181e2a;
$background10: #2f343f;
$background20: #464b55;
$accent: #374753;

body.page-scrum-game {
  background: $main;
  .page-work-cover {
    background: $main;
  }
  .work-container {
    .section {
      color: #fff;
      .sub-title {
        color: $main;
        .tag {
          background-color: $background;
        }
      }
      &.overview {
        color: #fff;
        background: $background;
        .rough-detail {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .myRole {
            &::before {
              color: rgba(255, 255, 255, 0.5);
            }
          }
          .timeline {
            &::before {
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
      &.goal {
        background-color: $accent;
        .paragraph {
          span.hightlight {
            color: #fff;
          }
          li {
            color: #fff;
          }
        }
      }
      &.process {
        color: #fff;
        background-color: $background;
        .process-note {
          color: $main;
        }
      }
      &.approach {
        background-color: $background10;
      }
      &.reflection {
        background-color: $background;
        .process-note {
          color: $main;
        }
      }
    }
  }
}
