body.page-on-going {
  //   background: #000000;
  padding: 0;
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: calc(100vh - 98px);
    text-align: center;
    .page-work-cover {
      width: 100%;
      text-align: center;
      img {
        width: 200px;
        height: auto;
      }
    }
    .CTA {
      // display: flex;
      // flex-direction: column;
      // width: auto;
      // gap: 16px;
      a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        background-color: #000;
        border-radius: 99px;
      }
    }
  }
}
