$main: #0b7d77;
$main-light: #cee5e4;
$accent: #323338;

body.page-fast-sign {
  background: $main;
  .page-work-cover {
    background: $main;
  }
  .work-container {
    .section {
      .sub-title {
        color: $main;
        .tag {
          background-color: $main-light;
        }
      }
      &.overview {
        background: $main-light;
      }
      &.goal {
        background-color: $accent;
        .paragraph {
          span.hightlight {
            color: $main-light;
          }
          li {
            color: $main-light;
          }
        }
      }
      &.process {
        background-color: #fafafa;
        .process-note {
          color: $main;
        }
      }
      &.approach {
        background-color: #fff;
        .paragraph {
          &.scenario-persona {
            .persona {
              background-color: #00000008;
              .user {
                i {
                }
              }
              .scenario {
              }
              .problem {
                i {
                  color: #dc3545;
                }
              }
            }
          }
          &.result {
            .appreciation,
            .award {
              .title {
              }
              .list {
                .row {
                  .col-md {
                    background-color: #00000008;
                    margin-bottom: 0.5rem;
                    a {
                      color: $main;
                    }
                    .award-dev {
                      position: relative;
                      transition: 0.5s;
                      .award-note {
                        position: absolute;
                        top: -2rem;
                        left: 0;
                        font-size: 0.6rem;
                        opacity: 0;
                        transition: 0.5s;
                        padding: 0.4rem 0.6rem;
                        background-color: $main-light;
                        border-radius: 0.6rem;
                        width: 100%;
                      }
                      &:hover {
                        color: #0b7d77;
                        transition: 0.5s;
                        .award-note {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.reflection {
        background-color: #fafafa;
        .process-note {
          color: $main;
        }
      }
    }
  }
}
