$main: #e95076;
$main-light: rgb(253, 237, 241, 1);
$accent: #374753;

@mixin section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body.page-1999 {
  background: $main;
  padding: 0;
  .page-work-cover {
    background: $main;
    //   height: 400px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .work-container {
    // background: $main-light;
    padding: 20px 0;
    .section {
      @include section();
      .section-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 20px;
      }
      .sub-title {
        color: $main;
        font-size: 23px;
        margin-top: 40px;
      }
      &.overview {
        background: $main-light;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .project-name {
          text-align: left;
          font-size: 16px;
        }
        .project-value {
          font-size: 24px;
          //   font-weight: bold;
        }
        .project-link {
          padding: 20px 0;
          a {
            background: #000;
            border-radius: 8px;
            text-decoration: none;
            padding: 10px;
            color: #fff;
          }
        }
        .cover {
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }

        .rough-detail {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .myRole {
            &::before {
              content: "MY ROLE";
              color: rgba(0, 0, 0, 0.5);
              display: block;
            }
          }
          .myResponsibilities {
            &::before {
              content: "RESPONSIBILITIES";
              color: rgba(0, 0, 0, 0.5);
              display: block;
            }
          }
        }
      }
      &.goal {
        background-color: $accent;
        color: white;
        .container {
          display: flex;
          flex-direction: column;
          gap: 80px;
        }
      }
      &.outcome {
        background-color: #fff;
      }
      &.understanding,
      &.reflaction,
      &.process {
        background-color: #fafafa;
      }
      &.thanks {
        text-align: center;
        font-size: 16px;
        color: #fff;
        padding-bottom: 200px;
        width: 50%;
        margin: 0 auto;
        .contact {
          color: #000;
          display: flex;
          gap: 20px;
          justify-content: center;
          margin-top: 20px;
          a {
            color: #fff;
            text-decoration: none;
            transition: 0.5s;
            font-size: 20px;
            &:hover {
              color: #ffffff75;
              transition: 0.5s;
            }
          }

          .resume {
            font-style: italic;
            text-decoration: underline;
            font-size: 16px;
          }
        }
      }
    }
  }
}
