body.page-classic-movie {
  background: #55301d;
  padding: 0;
}
body.page-classic-movie .page-work-cover {
  background: #55301d;
}
body.page-classic-movie .page-work-cover img {
  width: 100%;
  height: auto;
}
body.page-classic-movie .work-container {
  background: #dea55e;
  padding: 20px 0;
}
body.page-classic-movie .work-container .section {
  padding-top: 120px;
  padding-bottom: 120px;
}
body.page-classic-movie .work-container .section img {
  width: 100%;
}
body.page-classic-movie .work-container .section .section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
body.page-classic-movie .work-container .section .sub-title {
  color: #55301d;
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 10px;
}
body.page-classic-movie .work-container .section.overview {
  background: accent03;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body.page-classic-movie .work-container .section.overview .project-value {
  font-size: 24px;
}
body.page-classic-movie .work-container .section.overview .project-link {
  padding: 20px 0;
}
body.page-classic-movie .work-container .section.overview .project-link a {
  background: #000;
  border-radius: 8px;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}
body.page-classic-movie .work-container .section.overview .cover {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
body.page-classic-movie .work-container .section.overview .cover img {
  width: 100%;
  height: auto;
}
body.page-classic-movie .work-container .section.overview .rough-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body.page-classic-movie .work-container .section.overview .rough-detail .myRole::before {
  content: "MY ROLE";
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
body.page-classic-movie .work-container .section.overview .rough-detail .timeline::before {
  content: "TIMELINE";
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
body.page-classic-movie .work-container .section.goal {
  background-color: #813110;
  color: white;
  padding-top: 120px;
  padding-bottom: 120px;
}
body.page-classic-movie .work-container .section.outcome, body.page-classic-movie .work-container .section.research {
  background-color: #f4f2f1;
}
body.page-classic-movie .work-container .section.outcome .iteration {
  background-color: #55301d;
  border-radius: 16px;
  color: #dea55e;
  font-weight: 600;
  padding: 20px;
  font-size: 20px;
}
body.page-classic-movie .work-container .section.outcome .iteration .iterate-note {
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  padding-top: 10px;
}
body.page-classic-movie .work-container .section.outcome .final-design a {
  color: #fff;
  text-decoration: none;
  padding: 8px 20px 12px;
  background-color: #000;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  margin-bottom: 20px;
  transition: 0.3s;
}
body.page-classic-movie .work-container .section.outcome .final-design a:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}
body.page-classic-movie .work-container .section.process, body.page-classic-movie .work-container .section.reflection {
  background-color: #fff;
}
body.page-classic-movie .work-container .section.thanks {
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding-bottom: 200px;
  width: 60%;
  margin: 0 auto;
}
body.page-classic-movie .work-container .section.thanks .contact {
  color: #000;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
body.page-classic-movie .work-container .section.thanks .contact a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
}
body.page-classic-movie .work-container .section.thanks .contact a:hover {
  color: rgba(255, 255, 255, 0.4588235294);
  transition: 0.5s;
}
body.page-classic-movie .work-container .section.thanks .contact .resume {
  font-style: italic;
  text-decoration: underline;
  font-size: 16px;
}/*# sourceMappingURL=page-classic-movie.css.map */