$main: #e95076;
$main-light: rgb(253, 237, 241, 1);
$accent: #374753;

body.page-1999 {
  background: $main;
  padding: 0;
  .page-work-cover {
    background: $main;
  }
  .work-container {
    .section {
      .sub-title {
        color: $main;
      }
      &.overview {
        background: $main-light;
      }
      &.goal {
        background-color: $accent;
        .paragraph {
          span.hightlight {
            color: $main-light;
          }
          li {
            color: $main-light;
          }
        }
      }
      &.process {
        background-color: #fafafa;
        .process-note {
          color: $main;
        }
      }
      &.approach {
        background-color: #fff;
      }
      &.reflection {
        background-color: #fafafa;
      }
    }
  }
}
