$main: #55301d;
$accent01: #813110;
$accent02: #7a4a3e;
$accent03: #dea55e;

@mixin section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body.page-classic-movie {
  background: $main;
  padding: 0;
  .page-work-cover {
    background: $main;
    //   height: 400px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .work-container {
    background: $accent03;
    padding: 20px 0;
    .section {
      @include section();
      img {
        width: 100%;
      }
      .section-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 20px;
      }
      .sub-title {
        color: $main;
        font-size: 23px;
        margin-top: 40px;
        margin-bottom: 10px;
      }
      &.overview {
        background: accent03;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .project-value {
          font-size: 24px;
        }
        .project-link {
          padding: 20px 0;
          a {
            background: #000;
            border-radius: 8px;
            text-decoration: none;
            padding: 10px;
            color: #fff;
          }
        }
        .cover {
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }

        .rough-detail {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .myRole {
            &::before {
              content: "MY ROLE";
              color: rgba(0, 0, 0, 0.5);
              display: block;
            }
          }
          .timeline {
            &::before {
              content: "TIMELINE";
              color: rgba(0, 0, 0, 0.5);
              display: block;
            }
          }
        }
      }

      &.goal {
        background-color: $accent01;
        color: white;
        @include section();
      }
      &.outcome,
      &.research {
        background-color: #f4f2f1;
      }
      &.outcome {
        .iteration {
          background-color: $main;
          border-radius: 16px;
          color: #dea55e;
          font-weight: 600;
          padding: 20px;
          font-size: 20px;
          .iterate-note {
            font-weight: normal;
            color: #fff;
            font-size: 16px;
            padding-top: 10px;
          }
        }
        .final-design {
          a {
            color: #fff;
            text-decoration: none;
            padding: 8px 20px 12px;
            background-color: #000;
            border-radius: 20px;
            display: inline-block;
            height: 40px;
            margin-bottom: 20px;
            transition: 0.3s;
            &:hover {
              color: #ffffff99;
              transition: 0.3s;
            }
          }
        }
      }

      &.process,
      &.reflection {
        background-color: #fff;
      }
      &.thanks {
        text-align: center;
        font-size: 16px;
        color: #fff;
        padding-bottom: 200px;
        width: 60%;
        margin: 0 auto;
        .contact {
          color: #000;
          display: flex;
          gap: 20px;
          justify-content: center;
          margin-top: 20px;
          a {
            color: #fff;
            text-decoration: none;
            transition: 0.5s;
            font-size: 20px;
            &:hover {
              color: #ffffff75;
              transition: 0.5s;
            }
          }
          .resume {
            font-style: italic;
            text-decoration: underline;
            font-size: 16px;
          }
        }
      }
    }
  }
}
