@charset "UTF-8";
body.project .page-work-cover img {
  width: 100%;
  height: auto;
}
body.project .work-container .section {
  padding-top: 120px;
  padding-bottom: 120px;
}
body.project .work-container .section img {
  width: 100%;
}
body.project .work-container .section .section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
body.project .work-container .section .sub-title {
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
body.project .work-container .section .sub-title .tag {
  font-size: 0.7rem;
  padding: 0.1rem 0.8rem;
  border-radius: 99px;
}
body.project .work-container .section.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body.project .work-container .section.overview .project-value {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
body.project .work-container .section.overview .project-link {
  padding: 20px 0;
}
body.project .work-container .section.overview .project-link a {
  background: #000;
  border-radius: 8px;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}
body.project .work-container .section.overview .cover {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
body.project .work-container .section.overview .cover img {
  width: 100%;
  height: auto;
}
body.project .work-container .section.overview .rough-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body.project .work-container .section.overview .rough-detail .myRole::before {
  content: "MY ROLE";
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 0.8rem;
}
body.project .work-container .section.overview .rough-detail .timeline::before {
  content: "TIMELINE";
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 0.8rem;
}
body.project .work-container .section.overview .rough-detail .p-link {
  color: inherit;
}
body.project .work-container .section.goal {
  color: white;
}
body.project .work-container .section.goal .paragraph {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
body.project .work-container .section.goal .paragraph span.goal-detail {
  display: block;
  margin: 4px 0 20px 0;
  display: none;
}
body.project .work-container .section.goal .paragraph span.hightlight {
  text-decoration: underline;
}
body.project .work-container .section.goal .paragraph li {
  font-weight: 600;
  padding-bottom: 20px;
}
body.project .work-container .section.goal .paragraph li span {
  font-weight: normal;
  color: white;
}
body.project .work-container .section.goal .paragraph .user-story {
  font-size: 1rem;
  line-height: 2;
}
body.project .work-container .section.process .process-note::before {
  content: "● ";
}
body.project .work-container .section.process .process-img .col-md {
  padding: 1rem;
}
body.project .work-container .section.process .team-member .row {
  gap: 20px;
}
body.project .work-container .section a.external-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px 15px;
  background-color: #000;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  margin-bottom: 20px;
  transition: 0.3s;
}
body.project .work-container .section a.external-link:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

@media (max-width: 768px) {
  body.page-fast-sign .work-container .section .sub-title {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }
}
a.backBtn {
  transition: 0.5s;
  text-decoration: none;
  padding: 12px 20px;
  color: white;
  background: #000;
  border-radius: 99px;
  top: 20px;
  left: 20px;
  position: fixed;
  z-index: 1;
}
a.backBtn::before {
  transition: 0.5s;
  content: "\e906";
  padding-right: 6px;
  font-family: "icomoon";
}
a.backBtn:hover {
  padding-left: 16px;
  padding-right: 24px;
  transition: 0.5s;
}

.section-menu {
  padding: 12px 10px 12px 10px;
  background-color: #ffffff;
  color: #b8c6d0;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  font-size: 0.6rem;
  font-weight: 550;
  border-radius: 50px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.07);
  display: block;
  transition: bottom 0.5s;
  z-index: 3;
}
.section-menu nav.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section-menu nav.container-fluid ul.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-menu nav.container-fluid ul.nav li .nav-link {
  color: #b8c6d0;
  text-transform: uppercase;
}
.section-menu nav.container-fluid ul.nav li .nav-link.active {
  color: #000000 !important;
  font-weight: 600;
}

@media (max-width: 768px) {
  a.backBtn {
    top: 10px;
    left: 10px;
    position: fixed;
    font-size: 0.8rem;
    padding: 8px 16px;
  }
  .section-menu {
    padding: 4px 0;
    background-color: #ffffff;
    color: #b8c6d0;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    position: fixed;
    font-size: 0.6rem;
    font-weight: 550;
    border-radius: 50px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.07);
    display: block;
    transition: bottom 0.5s;
  }
  .section-menu nav.container-fluid {
    margin: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-menu nav.container-fluid ul.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}/*# sourceMappingURL=project-page.css.map */