a.backBtn {
  transition: 0.5s;
  text-decoration: none;
  padding: 12px 20px;
  color: white;
  background: #000;
  border-radius: 99px;
  top: 20px;
  left: 20px;
  position: fixed;
  z-index: 1;
  &::before {
    transition: 0.5s;
    content: "\e906";
    padding-right: 6px;
    font-family: "icomoon";
  }
  &:hover {
    padding-left: 16px;
    padding-right: 24px;
    transition: 0.5s;
  }
}

.work-nav {
  transition: 0.5s;
  text-decoration: none;
  padding: 12px 20px;
  color: white;
  background: #fff;
  border-radius: 99px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  a {
    text-decoration: none;
    color: #b8c6d0;
    padding: 0 4px;
    &:active,
    &:hover {
      color: #000 !important;
    }
  }
}

.section-menu {
  padding: 12px 10px 12px 10px;
  background-color: #ffffff;
  color: #b8c6d0;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  font-size: 0.6rem;
  font-weight: 550;
  border-radius: 50px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.07);
  display: block;
  transition: bottom 0.5s;
  nav.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    ul.nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        .nav-link {
          color: #b8c6d0;
          text-transform: uppercase;
          &.active {
            color: #000000 !important;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  a.backBtn {
    top: 10px;
    left: 10px;
    position: fixed;
    font-size: 0.8rem;
    padding: 8px 16px;
  }
  .section-menu {
    padding: 4px 0;
    background-color: #ffffff;
    color: #b8c6d0;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    position: fixed;
    font-size: 0.6rem;
    font-weight: 550;
    border-radius: 50px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.07);
    display: block;
    transition: bottom 0.5s;
    nav.container-fluid {
      margin: auto;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      ul.nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
