.project-group .col-md,
.project-group .col-md-7,
.project-group .col-md-5 {
  padding: 0;
  margin: 0;
}
.project-group .row {
  margin: 0;
}

@media (max-width: 768px) {
  .project-card {
    margin-left: 0px !important;
    padding-bottom: 60px;
  }
}
.project-card {
  border-radius: 20px;
  padding: 0 20px;
  height: 100%;
  position: relative;
  transition: 0.5s;
  font-family: "icomoon";
}
.project-card.small {
  height: 236px;
}
.project-card .work-cover {
  transition: 0.5s;
  position: relative;
}
.project-card .work-cover .hover-img {
  position: absolute;
  transition: 1s;
  opacity: 0;
  top: 0;
  left: 0;
}
.project-card .work-cover .normal-img {
  transition: 1s;
}
.project-card .work-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.project-card:before {
  content: "\e90a";
  font-size: 24px;
  position: absolute;
  right: 20px;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
.project-card:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  transform: rotate(-0.6deg);
  transform-origin: top left;
  cursor: pointer;
}
.project-card:hover .project-info:before {
  opacity: 1;
  transform: translate(5px, -8px);
  transition: 0.5s;
  transition-delay: 0.2s;
}
.project-card:hover .work-cover .hover-img {
  position: absolute;
  transition: 1s;
  opacity: 1;
  top: 0;
  left: 0;
}
.project-card:hover .work-cover .normal-img {
  transition: 1s;
  opacity: 0;
}
.project-card a {
  text-decoration: none;
}
.project-card .cata {
  font-size: 14px;
  margin: 4px 0 8px;
  transform: translateX(-3px);
  padding: 8px 0 20px 0;
  color: black;
}
.project-card .cata span {
  padding: 3px 8px 5px;
  border-radius: 99px;
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}
.project-card .project-info {
  transition: 0.5s;
  opacity: 1;
  padding: 20px 0;
  color: black;
}
.project-card .project-info:before {
  content: "\e90a";
  font-size: 24px;
  position: absolute;
  right: 20px;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
.project-card .project-info:hover:before {
  opacity: 1;
  transform: translate(5px, -8px);
  transition: 0.5s;
  transition-delay: 0.2s;
}
.project-card .project-info .year {
  font-size: 12px;
  padding-bottom: 4px;
}
.project-card .project-info .project-name {
  font-family: "Trirong";
  font-weight: 600;
  font-size: 24px;
}
.project-card .project-info .project-name.on-going {
  height: 36px;
}
.project-card .project-info .project-name.on-going::before {
  content: "\e927";
  font-family: "icomoon";
  font-size: 16px;
  padding: 3px 5px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 99px;
  border: rgba(0, 0, 0, 0.3137254902) 1.5px solid;
  color: rgba(0, 0, 0, 0.3137254902);
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.project-card .project-info .description {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5647058824);
  line-height: 1.2;
}/*# sourceMappingURL=project-group.css.map */